.fundo {
    background-color: linear-gradient(45deg, cyan, rgb(101, 60, 168));
}

.logo {
    padding: 0px !important;
    height: 500px;
}

.Imagem {
    height: 500px;
    width: 100%;
    padding: 1px !important;
}

.borda {
    border: 1px solid white;
}

.futurovideo {
    height: 900px;
    width: 200px;
}

.ImagemGaleria {
    height: 300px;
    width: 300px;
}