.fundo {
    background-color: linear-gradient(45deg, cyan, rgb(101, 60, 168));
}

.logo {
    width: 5px;
    height: 5px;
}

.Imagem {
    height: 100px;
    width: 100%;
}

.borda {
    border: 1px solid white;
}

.futurovideo {
    height: 900px;
    width: 200px;
}

.ImagemGaleria {
    height: 300px;
    width: 300px;
}